<section class="container p-2">
    <h2> Error page </h2>
    <p> Message: {{error}} </p>
    <p> Code: {{code}} </p>
    <br>
    <a href="/site/tasks" class="btn btn-primary"> Go back tasks view </a>
</section>