<label for="taskTitle" class="form-label"> Title: </label>
<input type="text" id="taskTitle" class="form-control" name="title" required> 

<label for="taskDescription" class="form-label"> Description: </label>
<textarea id="taskDescription" class="form-control" name="description"> </textarea>
