<section class="container p-2">
    {{#with task}}
        <h2> {{title}} </h2>
        <p> {{description}} </p>
    {{/with}}
    <a href="/site/tasks" class="btn btn-primary"> Go back tasks view </a>
</section>